*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'image-box sidebar'
        'slider sidebar'
    ;
    width: 100vw;
    height: 100vh;

}

.image-box {
    grid-area: image-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7A47C4;
}

.sidebar {
    grid-area: sidebar;
    background-color: #D3B8FB;
}

.slider-container {
    grid-area: slider;
    margin-top: 20px;
    padding: 20px;
}

.slider {
    width: 100%;
}

.image {
    max-width: 80%;
}

.upload-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;

}