*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'image-box sidebar'
        'slider sidebar'
    ;
    width: 100vw;
    height: 100vh;

}

.image-box {
    grid-area: image-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7A47C4;
}

.image {
    max-width: 80%;
}

.image-filtered {
    filter: var(--filters);
}

.sidebar {
    grid-area: sidebar;
    background-color: #D3B8FB;
    display: flex;
    flex-direction: column;

}




.sidebar-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: hsl(265, 100%, 86%);
    padding: 1rem;
    position: relative;
    transition: background-color 150ms;
}

.sidebar-btn:hover {
    background-color: hsl(265, 100%, 70%);
}

.sidebar-btn.active {
    background-color: hsl(265, 100%, 70%);
}

.sidebar-btn::after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 1px;
    background-color: hsl(265, 100%, 46%);
}

.sidebar-btn:last-child::after {
    display: none;
}

.slider-container {
    grid-area: slider;
    margin-top: 20px;
    padding: 20px;
}

.slider {
    width: 100%;
}



.upload-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;

}