*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'image-box sidebar'
        'slider sidebar'
    ;
    width: 100vw;
    height: 100vh;

}

.image-box {
    grid-area: image-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7A47C4;
}

.image-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-box-btn {
    width: 50%;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.image-box-btn:hover,
.image-box-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.image-box-btn:active {
    opacity: .5;
}



.image {
    max-width: 80%;
}

.image-filtered {
    filter: var(--filters);
}

.sidebar {
    grid-area: sidebar;
    background-color: #D3B8FB;
    display: flex;
    flex-direction: column;

}




.sidebar-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: hsl(265, 100%, 86%);
    padding: 1rem;
    position: relative;
    transition: background-color 150ms;
}

.sidebar-btn:hover {
    background-color: hsl(265, 100%, 70%);
}

.sidebar-btn.active {
    background-color: hsl(265, 100%, 70%);
}

.sidebar-btn::after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 1px;
    background-color: hsl(265, 100%, 46%);
}

.sidebar-btn:last-child::after {
    display: none;
}

.slider-container {
    grid-area: slider;
    margin-top: 20px;
    padding: 20px;
}

.slider {
    width: 100%;
}



.upload-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;

}